@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
   
    This privacy policy sets out how The Beauty Salon.ie uses and protects any information that you provide when you use this website.

    The Beauty Salon is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, be assured that it will only be used in accordance with this privacy statement.

    We may change this policy from time to time by updating this page. Check this page regularly to ensure that you are happy with any changes.
</p>
<h1>What we collect</h1>
</p> 
    We may collect the following information:
    your name
    contact information including email address, address, phone number
    demographic information such as preferences and interests
    other information relevant to customer surveys and/or offers
    What we do with the information we gather
    We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
</p>
<h1>Internal record keeping</h1>
 </p>   When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address, contact number.
    We may use the information to improve our products and services
    We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided
    From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customize the website according to your interests
 </p>   Consent
   </p> When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.

    If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
</p>
    Security
  </p>  We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
  </p>
   
    Forms and personal information
</p>The required information you submit using forms on our website is used to process your request quickly and accurately. If you have subscribed to our newsletter, we may send you information from The Beauty Salon.ie and other group companies that may be of interest to you. If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by emailing us info@thebeautysalon.flywheelsites.com or by writing to us at the following address: The Beauty Salon.ie, 77 Camden Street Lower, Dublin 2.

    We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.

    If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible at the above address. We will promptly correct any information found to be incorrect.
</p>
