<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeautySalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BeautySalon.styles.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet"/>
    <link href="~/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/font-awesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/regular.min.css" rel="stylesheet" />
</head>
<body>
    <div><partial name="_Header" /></div>
    <div class="container" style="margin-bottom:300px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div><partial name="_Footer"/></div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
