<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a class="menuLinks" asp-controller="Catalog" asp-action="Index">Catalogs</a>
    <a class="menuLinks" asp-controller="User" asp-action="Profile">My profile</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<script>
    function openNav() {
        if (window.matchMedia("(max-width:450px)").matches) {
            document.getElementById("mySidenav").style.width = "100%";
            document.getElementById("catalogLink").style.textAlign = "center";
        } else {
            document.getElementById("mySidenav").style.width = "250px";
        }
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
